<!DOCTYPE html>
<html>
  <head>
    <title>ChatGPT Interface</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <style></style>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/assets/css/style.css" />
    <script src="/assets/js/script.js"></script>
  </head>
  <body>
    <div class="container">
      <h1 class="text-center">ChatCPT Interface</h1>
      <div id="chat-container"></div>
      <form>
        <textarea
          id="user-input"
          class="message-input"
          rows="3"
          placeholder="Enter your question"
          required
        ></textarea>
        <button type="submit" class="btn btn-primary mt-3">Envoyer</button>
      </form>
    </div>
  </body>
</html>
